/*Titulos*/
h1,h3{ color: brown; }/*Titulo 1 y 3*/
#secundario{ color: orange; }/*Titulo 2*/

/*Primer parrafo*/
p strong{
    font-weight: 100;
    text-shadow: 1px 1px 2px violet;
}

/*Listas*/
ul{ color: red; }

/*Hipervínculos*/
a{
    text-shadow: initial;
    color: violet;
}

/*Tabla*/
table{ border-collapse: collapse; }/*Evitar bordes dobles*/
table caption{ color: blue; } /*Titulo de la tabla*/
table strong{ color: aqua; } /*Letras negritas exclusivas de la tabla, color aqua*/
table, tr, td, th{ border: 1px solid black; } /*Dibujar bordes de la tabla*/

/*Pie de pagina*/
#derechos{ font-style: italic; }

p span strong, table{
    
    text-shadow: initial;
    color: green;
}
